*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #F0F4EF;
}

.main input{
    padding: 5px;
    border: 1.4px solid gray;
    border-radius: 3px;
    width: 30%;
    min-width: 250px;
    outline: 0;
}

.main{
    position: relative;
}

.icon{
   /* margin-bottom: 0.6rem; */
}

button{
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: 0;
    outline: 0;
}

.icon i{
color: rgb(11, 39, 252);
}

#msg{
    font-size: 0.7rem;
    display: none;
}